html {
  background-color: #E6E6E6;
}

.contact {
  background-color: rgb(66, 189, 62);
  height: fit-content;
  width: 100vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-container {
  height: fit-content;
  margin: 1rem;
  width: 33%;
}

.image-container {
  margin: 2rem;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  margin: 1rem;
}

input {
  border: none;
  border-bottom: 2px solid #666;
  color: #666;
  outline: none;
}

.input-box {
  background-color: rgb(51, 179, 179);
}

.bg-color__contactform {
  background-color: rgb(51, 179, 179);
}