html {
  background-color: #E6E6E6;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.text-container {
  height: fit-content;
  margin: 1rem;
  width: 33%;
}

.image-container {
  margin: 2rem;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}